# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
total_schools = school_data_complete['school_name'].groupby([school_data_complete['school_name']]).nunique()
total_schools_final = total_schools.count()
total_schools_final

15

In [9]:
total_students = school_data_complete['student_name'].groupby([school_data_complete['student_name']]).count().sum()
total_students

39170

In [10]:
total_budget = school_data['budget'].sum()
total_budget

24649428

In [11]:
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [12]:
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [13]:
overall_passing_rate = (average_math_score+average_reading_score) / 2
overall_passing_rate

80.43160582078121

In [14]:
passing_math = student_data['math_score'].groupby([student_data['math_score'] >= 70]).count()
passing_math_final = passing_math / total_students
passing_math_final[1]

0.749808526933878

In [15]:
passing_reading = student_data['reading_score'].groupby([student_data['reading_score'] >= 70]).count()
passing_reading_final = passing_reading / total_students
passing_reading_final[1]

0.8580546336482001

In [17]:
df_summary = pd.DataFrame({
               'Total Schools' : [total_schools_final],
               'Total Students' : [total_students],
               'Total Budget' : [total_budget],
               'Math Score Average' : [average_math_score],
               'Reading Score Average' : [average_reading_score],
               'Students Math >= 70' : [passing_math_final[1]],
               'Students Reading >= 70' : [passing_reading_final[1]],
               'Overall Passing Rate' : [overall_passing_rate]})
df_summary
#falta terminar el formato

,Total Schools,Total Students,Total Budget,Math Score Average,Reading Score Average,Students Math >= 70,Students Reading >= 70,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [18]:
total_schools_final = school_data_complete['student_name'].groupby([school_data_complete['school_name']]).count()

In [19]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [20]:
school_type = school_data[['school_name','type']]
school_type.head()

             school_name      type
0      Huang High School  District
1   Figueroa High School  District
2    Shelton High School   Charter
3  Hernandez High School  District
4    Griffin High School   Charter

In [21]:
total_students_school = school_data_complete['student_name'].groupby([school_data_complete['school_name']]).count()
total_students_school.head()
#type(total_students_school)

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: student_name, dtype: int64

In [22]:
total_budget_school = school_data['budget'].groupby([school_data['school_name']]).sum()
total_budget_school.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [23]:
total_budget_student = school_data_complete['budget'].groupby([school_data_complete['student_name']]).sum()
total_budget_student.head()

student_name
Aaron Acosta      1763916
Aaron Aguilar     3022020
Aaron Anderson    1763916
Aaron Atkinson    3124928
Aaron Bailey      3124928
Name: budget, dtype: int64

In [24]:
average_math_score_school = school_data_complete['math_score'].groupby([school_data_complete['school_name']]).mean()
average_math_score_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [25]:
average_reading_score_school = school_data_complete['reading_score'].groupby([school_data_complete['school_name']]).mean()
average_reading_score_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [26]:
passing_math_score_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby([school_data_complete['school_name']]).mean()['math_score']
passing_math_score_school.head()

school_name
Bailey High School      84.505124
Cabrera High School     83.972556
Figueroa High School    84.310894
Ford High School        84.165687
Griffin High School     84.394602
Name: math_score, dtype: float64

In [27]:
passing_reading_score_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby([school_data_complete['school_name']]).mean()['reading_score']
passing_reading_score_school.head()

school_name
Bailey High School      84.362521
Cabrera High School     84.432612
Figueroa High School    84.767745
Ford High School        84.612799
Griffin High School     84.253156
Name: reading_score, dtype: float64

In [28]:
overall_passing_rate_school = (passing_math_score_school+passing_reading_score_school) / 2
overall_passing_rate_school.head()

school_name
Bailey High School      84.433823
Cabrera High School     84.202584
Figueroa High School    84.539319
Ford High School        84.389243
Griffin High School     84.323879
dtype: float64

In [29]:
df_summary_school = pd.DataFrame({
    'Total students': total_students_school,
    'Total budget': total_budget_school,
    'Math Score Average': average_math_score_school,
    'Reading Score Average': average_reading_score_school,
    'Passing Math Score Average': passing_math_score_school,
    'Passing Reading Score Average': passing_reading_score_school,
    'Overall Passing Rate School': overall_passing_rate_school
})
df_summary_school

,Total students,Total budget,Math Score Average,Reading Score Average,Passing Math Score Average,Passing Reading Score Average,Overall Passing Rate School
school_name,,,,,,,
Bailey High School,4976,3124928,77.048432,81.033963,84.505124,84.362521,84.433823
Cabrera High School,1858,1081356,83.061895,83.975780,83.972556,84.432612,84.202584
Figueroa High School,2949,1884411,76.711767,81.158020,84.310894,84.767745,84.539319
Ford High School,2739,1763916,77.102592,80.746258,84.165687,84.612799,84.389243
Griffin High School,1468,917500,83.351499,83.816757,84.394602,84.253156,84.323879
Hernandez High School,4635,3022020,77.289752,80.934412,84.936975,84.483725,84.710350
Holden High School,427,248087,83.803279,83.814988,85.040506,84.391727,84.716117
Huang High School,2917,1910635,76.629414,81.182722,84.240084,84.691400,84.465742
Johnson High School,4761,3094650,77.072464,80.966394,84.742448,84.430566,84.586507
Pena High School,962,585858,83.839917,84.044699,84.719780,84.680390,84.700085
Rodriguez High School,3999,2547363,76.842711,80.744686,84.339111,84.374377,84.356744
Shelton High School,1761,1056600,83.359455,83.725724,84.326679,84.362559,84.344619
Thomas High School,1635,1043130,83.418349,83.848930,84.497705,84.259585,84.378645
Wilson High School,2283,1319574,83.274201,83.989488,84.244050,84.526770,84.385410
Wright High School,1800,1049400,83.682222,83.955000,84.758929,84.479586,84.619257

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [30]:
df_summary_school_top = df_summary_school.sort_values('Overall Passing Rate School', ascending=False)
df_summary_school_top

,Total students,Total budget,Math Score Average,Reading Score Average,Passing Math Score Average,Passing Reading Score Average,Overall Passing Rate School
school_name,,,,,,,
Holden High School,427,248087,83.803279,83.814988,85.040506,84.391727,84.716117
Hernandez High School,4635,3022020,77.289752,80.934412,84.936975,84.483725,84.710350
Pena High School,962,585858,83.839917,84.044699,84.719780,84.680390,84.700085
Wright High School,1800,1049400,83.682222,83.955000,84.758929,84.479586,84.619257
Johnson High School,4761,3094650,77.072464,80.966394,84.742448,84.430566,84.586507
Figueroa High School,2949,1884411,76.711767,81.158020,84.310894,84.767745,84.539319
Huang High School,2917,1910635,76.629414,81.182722,84.240084,84.691400,84.465742
Bailey High School,4976,3124928,77.048432,81.033963,84.505124,84.362521,84.433823
Ford High School,2739,1763916,77.102592,80.746258,84.165687,84.612799,84.389243
Wilson High School,2283,1319574,83.274201,83.989488,84.244050,84.526770,84.385410
Thomas High School,1635,1043130,83.418349,83.848930,84.497705,84.259585,84.378645
Rodriguez High School,3999,2547363,76.842711,80.744686,84.339111,84.374377,84.356744
Shelton High School,1761,1056600,83.359455,83.725724,84.326679,84.362559,84.344619
Griffin High School,1468,917500,83.351499,83.816757,84.394602,84.253156,84.323879
Cabrera High School,1858,1081356,83.061895,83.975780,83.972556,84.432612,84.202584

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [31]:
df_summary_school_bottom = df_summary_school.sort_values('Overall Passing Rate School', ascending=True)
df_summary_school_bottom

,Total students,Total budget,Math Score Average,Reading Score Average,Passing Math Score Average,Passing Reading Score Average,Overall Passing Rate School
school_name,,,,,,,
Cabrera High School,1858,1081356,83.061895,83.975780,83.972556,84.432612,84.202584
Griffin High School,1468,917500,83.351499,83.816757,84.394602,84.253156,84.323879
Shelton High School,1761,1056600,83.359455,83.725724,84.326679,84.362559,84.344619
Rodriguez High School,3999,2547363,76.842711,80.744686,84.339111,84.374377,84.356744
Thomas High School,1635,1043130,83.418349,83.848930,84.497705,84.259585,84.378645
Wilson High School,2283,1319574,83.274201,83.989488,84.244050,84.526770,84.385410
Ford High School,2739,1763916,77.102592,80.746258,84.165687,84.612799,84.389243
Bailey High School,4976,3124928,77.048432,81.033963,84.505124,84.362521,84.433823
Huang High School,2917,1910635,76.629414,81.182722,84.240084,84.691400,84.465742
Figueroa High School,2949,1884411,76.711767,81.158020,84.310894,84.767745,84.539319
Johnson High School,4761,3094650,77.072464,80.966394,84.742448,84.430566,84.586507
Wright High School,1800,1049400,83.682222,83.955000,84.758929,84.479586,84.619257
Pena High School,962,585858,83.839917,84.044699,84.719780,84.680390,84.700085
Hernandez High School,4635,3022020,77.289752,80.934412,84.936975,84.483725,84.710350
Holden High School,427,248087,83.803279,83.814988,85.040506,84.391727,84.716117

In [32]:
passing_math_score_school_9th = student_data[student_data['grade'] == "9th"].groupby([student_data['school_name']]).mean()['math_score']
passing_math_score_school_9th.head()

school_name
Bailey High School      77.083676
Cabrera High School     83.094697
Figueroa High School    76.403037
Ford High School        77.361345
Griffin High School     82.044010
Name: math_score, dtype: float64

In [33]:
passing_math_score_school_10th = student_data[student_data['grade'] == "10th"].groupby([student_data['school_name']]).mean()['math_score']
passing_math_score_school_10th.head()

school_name
Bailey High School      76.996772
Cabrera High School     83.154506
Figueroa High School    76.539974
Ford High School        77.672316
Griffin High School     84.229064
Name: math_score, dtype: float64

In [34]:
passing_math_score_school_11th = student_data[student_data['grade'] == "11th"].groupby([student_data['school_name']]).mean()['math_score']
passing_math_score_school_11th.head()

school_name
Bailey High School      77.515588
Cabrera High School     82.765560
Figueroa High School    76.884344
Ford High School        76.918058
Griffin High School     83.842105
Name: math_score, dtype: float64

In [35]:
passing_math_score_school_12th = student_data[student_data['grade'] == "12th"].groupby([student_data['school_name']]).mean()['math_score']
passing_math_score_school_12th.head()

school_name
Bailey High School      76.492218
Cabrera High School     83.277487
Figueroa High School    77.151369
Ford High School        76.179963
Griffin High School     83.356164
Name: math_score, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [36]:
df_summary_math_scores_school = pd.DataFrame({
    '9th': passing_math_score_school_9th,
    '10th': passing_math_score_school_10th,
    '11th': passing_math_score_school_11th,
    '12th': passing_math_score_school_12th
})
df_summary_math_scores_school

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [37]:
passing_reading_score_school_9th = student_data[student_data['grade'] == "9th"].groupby([student_data['school_name']]).mean()['reading_score']
passing_reading_score_school_9th.head()

school_name
Bailey High School      81.303155
Cabrera High School     83.676136
Figueroa High School    81.198598
Ford High School        80.632653
Griffin High School     83.369193
Name: reading_score, dtype: float64

In [38]:
passing_reading_score_school_10th = student_data[student_data['grade'] == "10th"].groupby([student_data['school_name']]).mean()['reading_score']
passing_reading_score_school_10th.head()

school_name
Bailey High School      80.907183
Cabrera High School     84.253219
Figueroa High School    81.408912
Ford High School        81.262712
Griffin High School     83.706897
Name: reading_score, dtype: float64

In [39]:
passing_reading_score_school_11th = student_data[student_data['grade'] == "11th"].groupby([student_data['school_name']]).mean()['reading_score']
passing_reading_score_school_11th.head()

school_name
Bailey High School      80.945643
Cabrera High School     83.788382
Figueroa High School    80.640339
Ford High School        80.403642
Griffin High School     84.288089
Name: reading_score, dtype: float64

In [40]:
passing_reading_score_school_12th = student_data[student_data['grade'] == "12th"].groupby([student_data['school_name']]).mean()['reading_score']
passing_reading_score_school_12th.head()

school_name
Bailey High School      80.912451
Cabrera High School     84.287958
Figueroa High School    81.384863
Ford High School        80.662338
Griffin High School     84.013699
Name: reading_score, dtype: float64

In [41]:
df_summary_reading_scores_school = pd.DataFrame({
    '9th': passing_reading_score_school_9th,
    '10th': passing_reading_score_school_10th,
    '11th': passing_reading_score_school_11th,
    '12th': passing_reading_score_school_12th
})
df_summary_reading_scores_school

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [42]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
df_sorted['Spending Ranges (Per Student)'] = pd.cut(df_sorted['Per Student Budget'],spending_bins, labels=group_names)

In [18]:
df_grouped = df_sorted.groupby(['Spending Ranges (Per Student)']).mean()
df_grouped = df_grouped[['Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate']]
df_grouped.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [43]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [47]:
df_summary_school['School Size'] = pd.cut(df_summary_school['Total students'],size_bins, labels=group_names)
df_grouped = df_summary_school.groupby(['School Size']).mean()
df_grouped = df_grouped[['Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading','Overall Passing Rate']]
df_grouped.head()

KeyError: "['Average Math Score' 'Average Reading Score' '% Passing Math'\n '% Passing Reading' 'Overall Passing Rate'] not in index"

## Scores by School Type

* Perform the same operations as above, based on school type.

In [119]:
average_math_score_school_type = school_data_complete['math_score'].groupby([school_data_complete['type']]).mean()
average_math_score_school_type.head()

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [120]:
average_reading_score_school_type = school_data_complete['reading_score'].groupby([school_data_complete['type']]).mean()
average_reading_score_school_type.head()

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [121]:
passing_math_score_school_type = school_data_complete[school_data_complete['math_score'] >= 70].groupby([school_data_complete['type']]).mean()['math_score']
passing_math_score_school_type.head()

type
Charter     84.407492
District    84.511870
Name: math_score, dtype: float64

In [122]:
passing_reading_score_school_type = school_data_complete[school_data_complete['reading_score'] >= 70].groupby([school_data_complete['type']]).mean()['reading_score']
passing_reading_score_school_type.head()

type
Charter     84.420025
District    84.501993
Name: reading_score, dtype: float64

In [123]:
overall_passing_rate_school_type = (passing_math_score_school_type+passing_reading_score_school_type) / 2
overall_passing_rate_school_type.head()

type
Charter     84.413759
District    84.506932
dtype: float64

In [124]:
df_summary_type = pd.DataFrame({
    'Average Math Score': average_math_score_school_type,
    'Average Reading Score': average_reading_score_school_type,
    '% Passing Math': passing_math_score_school_type,
    '% Passing Reading': passing_reading_score_school_type,
    '% Overall Passing Rate': overall_passing_rate_school_type
})
df_summary_reading_scores_school

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171